---
import Layout from "../layouts/Layout.astro"
import SideProjectsSection from "../components/SideProjectsSection.astro"
import SiteFooter from "../components/SiteFooter.astro"
import SiteHeader from "../components/SiteHeader.astro"
import ProjectsSection from "../components/ProjectsSection.astro"
import AboutSection from "../components/AboutSection.astro"
import CVSection from "../components/CVSection.astro"
import ContactSection from "../components/ContactSection.astro"
---
<Layout title="J.Pagano">
    <SiteHeader />
    <main class="container max-w-5xl py-5 pb-[4vh]">
        <div class="space-y-[10vh]">
            <AboutSection />
            <ProjectsSection />
            <SideProjectsSection />
            <CVSection />
            <ContactSection />
        </div>
    </main>
    <SiteFooter />
</Layout>
