<div class="space-y-2">
    <h2 class="font-bold text-center text-6xl">Hola! I benvingut.</h2>
    <h1 class="text-center">Sóc en Jordi Pagano, un desenvolupador Front-end freelance de Lleida.</h1>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div>
        <img src="https://www.dropbox.com/s/igkeo551mxr6sip/11817151_10154089202754942_1990966618006652045_n.jpg?raw=1"
             alt="J.Pagano"
             class="w-full"
        />
    </div>
    <div class="place-self-center space-y-3 text-lg">
        <p>Treballo remotament i presencialment amb equips de disseny i de desenvolupament, construint interfícies i experiències per la Web, amb el principal focus del disseny responsiu, la semàntica, l'accessibilitat i l'optimització del rendiment.</p>
        <p>Aplico les bases del disseny atòmic amb la metodologia BEM i Sass unit amb eines d'automatització com Gulp o Webpack pel codi de producció.</p>
        <p>I en un futur? Doncs aprendre Node.js i els actuals frameworks JS com Vue.js</p>
    </div>
</div>
