---
import Section from "./Section.astro"
import data from "../data/contact.json"
---
<Section title="Contacte">
    <ul class="flex justify-center gap-4">
        {data.map((link) => (
            <li>
                <a href={link.url}
                   target="_blank"
                   rel="nofollow noopener"
                   class="block text-center"
                >{link.title}</a>
            </li>
        ))}
    </ul>
</Section>
