---
import cv from "../data/cv.json"
import {Card, CardContent, CardHeader, CardTitle} from "./ui/card"
import Section from "./Section.astro"
---
<Section title="CV">
    <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        {cv.map((position) => (
                <li>
                    <Card className="flex flex-col h-full">
                        <CardHeader>
                            <CardTitle className="text-xl leading-6">{position.subtitle}</CardTitle>
                            <CardTitle className="font-normal text-xl">{position.title}</CardTitle>
                        </CardHeader>
                        <CardContent>
                            <p class="text-sm">{position.description}</p>
                        </CardContent>
                    </Card>
                </li>
        ))}
    </ul>
</Section>
