---
import projects from "../data/projects.json";
import {buttonVariants} from "./ui/button";
import {Card, CardFooter, CardHeader, CardTitle, CardButton} from "./ui/card";
import Section from "./Section.astro";
import { ArrowUpRight } from "lucide-react"
---
<Section title="Projectes">
    <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
        {projects.map((project) => (
            <li>
                <Card className="flex flex-col h-full">
                    <CardHeader>
                        <CardTitle className="text-xl">{project.title}</CardTitle>
                    </CardHeader>
                    <CardFooter className="mt-auto">
                        <CardButton url={project.url}>
                            Visita el lloc web
                        </CardButton>
                    </CardFooter>
                </Card>
            </li>
        ))}
    </ul>
</Section>
