---
export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<div class="space-y-8">
    <h2 class="text-4xl font-bold tracking-tight text-center">{title}</h2>
    <slot />
</div>
