---
import sideProjects from "../data/side-projects.json";
import {buttonVariants} from "./ui/button";
import {Card, CardButton, CardContent, CardFooter, CardHeader, CardTitle} from "./ui/card";
import Section from "./Section.astro";
---

<Section title="Projectes paral·lels">
    <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        {sideProjects.map((project) => (
            <li>
                <Card className="flex flex-col h-full">
                    <CardHeader>
                        <CardTitle>{project.title}</CardTitle>
                    </CardHeader>
                    <CardContent>
                        <p class="text-sm">{project.description}</p>
                    </CardContent>
                    <CardFooter className="mt-auto">
                        <CardButton url={project.url}>
                            Veure projecte
                        </CardButton>
                    </CardFooter>
                </Card>
            </li>
        ))}
    </ul>
</Section>
