<footer>
    <div class="container max-w-5xl py-[4vh]">
        <p>
            <strong>&copy; 2013-{new Date().getFullYear()} J.Pagano</strong><br />
            Aquest lloc web s'ha construït gràcies a <strong>Astro</strong>, <strong>Tailwind</strong>, <strong>shadcn/ui</strong> i funciona amb <strong>Gitlab Pages</strong>.
        </p>
    </div>
</footer>
