---
import {ModeToggle} from "./ui/mode-toggle";
---

<header>
    <div class="container max-w-5xl py-[4vh]">
        <div class="flex justify-between">
            <span class="font-bold text-2xl">J.Pagano</span>
            <ModeToggle client:load />
        </div>
    </div>
</header>
