---
import Themes from 'astro-themes'
import '@/styles/globals.css'

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<html lang="ca">
	<head>
		<Themes />
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<meta name="description" content="Desenvolupador Front-end freelance de Lleida" />
	</head>
	<body>
		<slot />
	</body>
</html>
